#!/bin/sh

set -e

# XXX Note when updating to also update
# debian/flashplugin-installer.postinst and debian/post-download-hook
FLASH_VERSION=20180109.1
FILENAME=adobe-flashplugin_${FLASH_VERSION}.orig.tar.gz
SHA256SUM_TGZ="078d7b64787af7bbd920d86e4dcd7f8752f96ccf887a35b0c56c287e86bb30d3"

. /usr/share/debconf/confmodule

while true; do
	db_input medium flashplugin-installer/local || true
	db_go
	db_get flashplugin-installer/local
	if [ -n "$RET" ] && [ -d "$RET" ] && [ -f "$RET/$FILENAME" ] \
	   && echo "$SHA256SUM_TGZ  $RET/$FILENAME" | sha256sum -c > /dev/null 2>&1
	then
		break
	elif [ "x$RET" = "x" ]; then
		break
	fi
	db_reset flashplugin-installer/not_exist || true
	db_reset flashplugin-installer/local || true
	db_input medium flashplugin-installer/not_exist || true
	db_go
done
